﻿@model dynamic

@{
    ViewBag.Title = "Toko Online";
    Layout = "_Layout";
}

<h2>Toko Johan</h2>
<div style="display: flex;">
    <div style="flex: 1;">
        <input type="text" id="searchInput" name="searchInput" oninput="searchItems(this)" placeholder="masukan nama atau kategory barang"
               width="200px"/>
        <div id="searchResults"></div>
    </div>
    <div style="flex: 1;">
        <h2>Keranjang Belanja</h2>
        <ul id="cartItems"></ul>
        <button onclick="submitCartItems()">Submit</button> 
    </div>
</div>

<script>
    function searchItems(input) {
        var inputValue = input.value;
        if (inputValue.length >= 4) {
            fetch(`/search/index?query=${inputValue}`)
                .then(response => response.json())
                .then(data => {
                    displaySearchResults(data);
                });
        } else {
            document.getElementById('searchResults').innerHTML = '';
        }
    }

    function displaySearchResults(results) {
        var searchResultsDiv = document.getElementById('searchResults');
        searchResultsDiv.innerHTML = '';

        results.forEach(item => {
            var itemDiv = document.createElement('div');
            itemDiv.textContent = item.name + ' - Rp ' + item.price; 
            itemDiv.dataset.itemId = item.id; 
            itemDiv.addEventListener('click', function () {
                orderItem(item);
            });
            searchResultsDiv.appendChild(itemDiv);
        });
    }

    function orderItem(item) {
        var cartItemsList = document.getElementById('cartItems');
        var itemLi = document.createElement('li');

        var itemInfoSpan = document.createElement('span');
        itemInfoSpan.textContent = item.name + ' - Rp ' + item.price;
        itemLi.appendChild(itemInfoSpan);

        var quantityInput = document.createElement('input');
        quantityInput.type = 'number';
        quantityInput.min = 1;
        quantityInput.value = 1;
        quantityInput.addEventListener('input', function () {
            updateTotal(itemLi, item.price);
        });
        itemLi.appendChild(quantityInput);

        var totalPriceSpan = document.createElement('span');
        totalPriceSpan.textContent = 'Total: Rp ' + item.price; 
        itemLi.appendChild(totalPriceSpan);

        var editButton = document.createElement('button');
        editButton.textContent = 'Edit';
        editButton.addEventListener('click', function () {
            editItemQuantity(itemLi);
        });
        itemLi.appendChild(editButton);

        var deleteButton = document.createElement('button');
        deleteButton.textContent = 'Delete';
        deleteButton.addEventListener('click', function () {
            deleteItem(itemLi);
        });
        itemLi.appendChild(deleteButton);

        cartItemsList.appendChild(itemLi);

        var itemIdInput = document.createElement('input');
        itemIdInput.type = 'hidden';
        itemIdInput.name = 'itemIds[]'; 
        itemIdInput.value = item.id;
        itemLi.appendChild(itemIdInput);

        var itemNameInput = document.createElement('input');
        itemNameInput.type = 'hidden';
        itemNameInput.name = 'itemNames[]'; 
        itemNameInput.value = item.name;
        itemLi.appendChild(itemNameInput);

        var itemPriceInput = document.createElement('input');
        itemPriceInput.type = 'hidden';
        itemPriceInput.name = 'itemPrices[]'; 
        itemPriceInput.value = item.price;
        itemLi.appendChild(itemPriceInput);
    }

    function updateTotal(itemLi, price) {
        var quantityInput = itemLi.querySelector('input[type="number"]');
        var totalPriceSpan = itemLi.querySelector('span:last-child');
        var total = parseInt(quantityInput.value) * parseFloat(price);
        totalPriceSpan.textContent = 'Total: Rp ' + total.toFixed(2);
    }

    function editItemQuantity(itemLi) {
        var quantityInput = itemLi.querySelector('input[type="number"]');
        var newQuantity = prompt('Enter new quantity', quantityInput.value);
        if (newQuantity !== null && !isNaN(newQuantity) && parseInt(newQuantity) > 0) {
            quantityInput.value = parseInt(newQuantity);
            updateTotal(itemLi, itemLi.querySelector('input[name="itemPrices[]"]').value);
        }
    }

    function deleteItem(itemLi) {
        itemLi.remove();
    }

    function submitCartItems() {
        var cartItemsList = document.getElementById('cartItems');
        var cartItems = cartItemsList.querySelectorAll('li');
        var formData = new FormData();
        cartItems.forEach(function (item) {
            var itemId = item.querySelector('input[name="itemIds[]"]').value;
            var itemName = item.querySelector('input[name="itemNames[]"]').value;
            var itemPrice = item.querySelector('input[name="itemPrices[]"]').value;
            var quantity = item.querySelector('input[type="number"]').value;
            formData.append('itemIds[]', itemId);
            formData.append('itemNames[]', itemName);
            formData.append('itemPrices[]', itemPrice);
            formData.append('quantities[]', quantity);
        });
        fetch('/submit', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    alert('Data berhasil dikirim');
                } else {
                    alert('Terjadi kesalahan');
                }
            });
    }
</script>
