﻿@model TokoOnline.Model.LoginViewModel
@{
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Login</h2>
            <form asp-action="Login" method="post" >
                @if (ViewData["Message"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["Message"]
                    </div>
                }
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input asp-for="RememberMe" class="form-check-input"/>
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Login</button>

                </div>

                <div>
                    &nbsp;
                </div>
                <div>
                    Create an account <a asp-action="Register">here</a>
                </div>
            </form>
        </div>
    </div>
</div>
